{% extends 'base.html' %}
{% block content %}

    <br>
    <h3 class="text-white text-center mb-3">{% block title %} All Links {% endblock %}</h3>
    <br>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-12">

            <table class='table table-dark table'>
                <thead>
                    <th>Original URL</th>
                    <th>Short ID</th>
                    <th rowspan="3">Actions</th>
                    <th></th><th></th>
                </thead>
                <tbody>
                    {% for row in datas %}
                    <tr style="height: 55px;">
                        <td class="td-original-url">{{row.original_url}}</td>
                        <td class="td-short-id">{{row.short_id}}</td>
                        <td class="td-link-action">
                            <a href='#' class='table-action border-style-1 action-info'><i class="fa-solid fa-chart-simple"></i></a>
                        </td>
                        <td class="td-link-action">
                            <a href='#' class='table-action border-style-1 action-copy'><i class="fa-solid fa-copy"></i></a> 
                        </td>
                        <td class="td-link-action">
                            <a href='{{row.original_url}}' class='table-action border-style-1 action-redirect' target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </td>
                        <td class="td-link-action">
                            <a href='/update/{{row.id}}' class='table-action border-style-1 action-edit' data-target="#modaledit{{row.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                        <td class="td-link-action">
                            <a href='/delete/{{row.id}}' class='table-action border-style-1 action-delete' data-target="#modaledit{{row.id}}"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

        </div>
    </div>

    <br><br>
{% endblock %}