{% extends 'base.html' %}

{% block content %}

    <br>
    <h3 class="text-white text-center mb-3">{% block title %} Edit Link {% endblock %}</h3>
    <br>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" action="{{url_for('update',id=datas.id)}}">
                
                <div class="text-white form-floating mb-3">
                    <input type="text" name="url" id="url" placeholder="Long URL" class="form-control bg-dark text-white border-style-1" value='{{datas.original_url}}'  autofocus></input>
                    <label for="url">Long URL</label>
                </div>
                
                <div class="text-white form-floating mb-3">
                    <input type="text" name="custom_id" id="custom_id" placeholder="Custom ID" class="form-control bg-dark text-white border-style-1" value='{{datas.short_id}}'></input>
                    <label for="custom_id">Custom Short ID</label>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-md btn-primary border-style-1 action-short-link">Update Shortend Link</button>
                </div>

            </form>

            {% if short_url %}
            <hr><span><a href="{{ short_url }}" target="_blank">{{ short_url }}</a></span>
            {% endif %}

        </div>
    </div>

{% endblock %}