{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 class="text-white text-center mb-3">{% block title %} Welcome to Shortz {% endblock %}</h1>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" action="{{url_for('index')}}">
            <div class="text-white form-floating mb-3">
                <input type="text" name="url" id="url"
                    placeholder="Enter looooooooooooong URL" class="form-control bg-dark text-white"
                    value="{{ request.form['url'] }}" autofocus></input>
                <label for="url">Long URL</label>
            </div>
            <div class="text-white form-floating mb-3">
                <input type="text" name="custom_id" id="custom_id"
                    placeholder="Want to customise? (optional)" class="form-control bg-dark text-white"
                    value="{{ request.form['custom_id'] }}"></input>
                <label for="custom_id">Custom Short ID (Optional) </label>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-primary">Get Shortend Link</button>
            </div>
            </form>

            {% if short_url %}
            <hr>
            <span><a href="{{ short_url }}" target="_blank">{{ short_url }}</a></span>
            {% endif %}

        <br><br>

        <table class='text-white table table-bordered'>
            <thead>
                <th>Orginal URL</th>
                <th>Short ID</th>
            </thead>
            <tbody>
                {% for row in datas %}
                <tr>
                    <td>{{row.original_url}}</td>
                    <td>{{row.short_id}}</td>
                </tr>
                {%endfor%}
            </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}